.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
      width: 16rem;
    }
  
    &-body{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex: 1;
      &-description{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
      }
      &-location{
        flex: 1;
      }
    }
}